body {
    margin: 0;
    left: 0;
    padding: 0;
    background: #ffffff;
}

label {
    border: 2px solid black;
    font-size: 25px;
    padding: 0 10px;
    margin: 5px 5px 5px 0;
    border-radius: 27%;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    z-index: 10;
}

label:hover {
    background: black;
    color: white;
}

input[type=checkbox] {
    display: none;
}

li {
    list-style: none;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

h1:after {
    content: "";
    border-bottom: 2px solid black;
    width: 30px;
    display: block;
    margin: 5px auto;
}

li, h1, input {
    font-family: 'Neucha', cursive;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p {
    text-align: justify;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/********************************************* HEADER ********************************************************/

header {
    display: flex;
    width: 100%;
    height: 50px;
    opacity: .9;
    position: fixed;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -5px 15px black;
}

.headerContent {
    display: flex;
    width: 1100px;
    margin: 0 auto;
}

/************* HEADER SOCIAL LINKS *************/

.socialLinks {
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.socialLinks li {
    padding: 0;
}

.socialLinks li a {
    width: 35px;
    height: 35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin: 0 3px;
    display: block;
    border-radius: 50%;
    position: relative;
    border: 2px solid #000;
    transition: .5s;
}

.socialLinks li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
}

.socialLinks li a:hover .fa {
    transform: rotate(360deg);
}

.socialLinks li a:hover {
    transition: .5s;
}

.socialLinks li:nth-child(1) a:hover {
    background-color: #3F62A9;
}

.socialLinks li:nth-child(2) a:hover {
    background-color: #1DA1F2;
}

.socialLinks li:nth-child(3) a:hover {
    background-color: #5181B8;
}

.socialLinks li:nth-child(4) a:hover {
    background-color: #D52323;
}

/************* HEADER MENU *************/

.headerMenuLinks {
    flex-grow: 2;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.headerMenuLinks li {
    cursor: pointer;
    height: 45px;
    padding: 5px 15px 0 15px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    transition: .5s;
}

.headerMenuLinks li:hover {
    background: green !important;
}

/************* HEADER LANGUAGES *************/

.languageItems {
    display: flex;
    flex-grow: 1;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.languageItems img {
    cursor: pointer;
    margin: 0 5px;
    width: 30px;
}

/********************************************* MAIN ********************************************************/

main {
    width: 1100px;
    height: auto;
    margin: auto;
    
}

/************* LOGO *********************/

.logo img {
    width: 100%;
    height: 100%;
}

/************* ABOUT US ******************/

/*.aboutUs {
    width: 99vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}*/

.aboutUs, .gameSlider {
    margin: 0 10px;
}

/************* IN DEVELOPMENT ************/

.gameSlider p {
    margin: 50px 0 0 0;
}

/************* LIST OF GAMES *************/

.listOfGames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 98%;
    height: auto;
    margin: auto;
    grid-gap: 10px 10px;
}

.listOfGames div {
    text-align: center;
    background: silver;
    height: 180px;
    cursor: pointer;
}

/*.listOfGames div span {
    color: white;
    position: relative;
    bottom: 100px;
    background: green;
    padding: 24% 48.1% 22.5% 50%;
}*/

.listOfGames div img {
    width: 100%;
    height: 100%;
}

/************* FEEDBACK *****************/

.feedback {
    height: 500px;
}

.feedbackInput, .textarea, .feedback .feedbackSubmit {
    text-align: center;
}

.feedbackInput {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
}

.feedbackInput input {
    margin: 10px 0;
    padding: 10px 5px 10px 10px;
    background: rgba(255, 255, 255, 0.8);
    border: 0px;
    box-shadow: 0 0 30px white;
    border-bottom: 1px solid black;
}

.feedback .feedbackSubmit input[type=button] {
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px;
    background: rgba(0, 0, 0, 1);
    border: 0px;
    color: white;
    cursor: pointer;
}

.feedback .feedbackSubmit input[type=button], .feedbackInput input, textarea:focus {
    outline: 0;
}

.feedback .feedbackSubmit input[type=button]:hover {
    background: rgba(0, 0, 0, .8);
}

/************* BOTTOM *******************/

.bottomTest {
    width: 60%;
    height: 200px;
    margin: auto;
    background: #c9c9c9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************* MEDIA QUERIES ********************************************************/

@media screen and ( max-width: 1125px ) {
    
    main {
        width: 100%;
    }
    
    .headerMenuLinks li {
        font-size: 18px;
    }
    
}

@media screen and ( max-width: 768px ) {
    
    .listOfGames {
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .listOfGames div {
        height: 200px;
    }
    
    /*.socialLinks li a {
        width: 35px;
        height: 35px;
        background: #fff;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        margin: 0 3px;
        display: block;
        border-radius: 50%;
        position: relative;
        border: 2px solid #000;
        transition: .5s;
    }*/
    
    .headerMenuLinks li {
        font-size: 15px;
        padding: 5px 10px 0 10px;
    }
    
    .languageItems img {
        cursor: pointer;
        margin: 0 5px;
        width: 30px;
    }
    
}

@media screen and ( max-width: 668px ) {
    
    .socialLinks {
        justify-content:flex-start;
    }
    
    .languageItems, .headerMenuLinks {
        display: none;
    }
    
    .headerMenuLinks {
        position: absolute;
        margin: 50px 0 0 0;
        width: 100%;
    }
    
    .headerMenuLinks li {
        margin: 0;
        font-size: 30px;
        background-color: #fff;
    }
    
    .languageItems {
        position: absolute;
        background-color: #fff;
        margin: 250px 0 0 0;
        padding: 5px 0;
        width: 100%;
    }
    
    label {
        display: block;
    }
    
    .listOfGames {
        max-width: 400px;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .feedbackInput {
        max-width: 60%;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
    
    textarea {
        max-width: 300px;
    }
    
    input[type=checkbox]:checked ~ .headerMenuLinks {
        display: block;
    }
    
    input[type=checkbox]:checked ~ .languageItems {
        display: flex;
    }
    
}

/*@media screen and ( max-width: 468px ) {
    
}*/
